name: CI

on:
  push:
    branches:
      - main  # or the branch you want to trigger the workflow on

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        path: .
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
        cache: 'pip'
          
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
         pip install -r app/requirements.txt 

    - name: Start services with Docker Compose
      run: docker-compose up -d

    - name: Test code with pytest
      run:
          pytest tests/test_app
          
    - name: Shutdown Docker Compose
      if: always()
      run: docker-compose down
      
