name: CI

on:
  push:
    branches:
      - main  # or the branch you want to trigger the workflow on

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v2  # Use the correct version here
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Start services with Docker Compose
        run: docker-compose up -d

      - name: Wait for healthchecks
        run: timeout 60s
        
      - name: Test code with pytest
        run: pytest tests/test_app

      - name: Shutdown Docker Compose
        if: always()
        run: docker-compose down


